<%=javascript_include_tag "DataTables/jquery" %>                          
<%=javascript_include_tag "DataTables/prototype" %>                          
<script>jQuery.noConflict();</script>
<%=javascript_include_tag "DataTables/jquery.dataTables.min" %>

<%= stylesheet_link_tag "DataTables/demo_table_jui" %>                                     
<%= stylesheet_link_tag "DataTables/jquery.dataTables" %>                                     

  
  
<script>
  
function dataT(){          
	dataTable = jQuery('#search_results').DataTable( {
			"processing": true,
			"serverSide": true,
			"ajax": "/get_samples",
      "columnDefs": [
				{ "orderable": false, "targets": [0,7,10] }
			]
	} );

}
</script>


<%= stylesheet_link_tag "DataTables/beautify.css" %>



<h1>Lab Sample(s)</h1>
<p>Table will show the first latest 10 samples recorded (default)</p>


<div class="page-header">
  <div class="asset_search_div">
  </div>
</div>

<table id="search_results" class="lab-data-table table table-striped table-bordered table-condensed">
<thead>                                                                       
<tr id = 'table_head'>                                                        
  <th id="th1" style="width:100px;">Sample ID</th>                           
  <th id="th1" style="width:100px;">Accession Number</th>                           
  <th id="th3" style="width:200px;">Patient Identifier</th>                           
  <th id="th4" style="width:150px;">Test Ordered</th>                            
  <th id="th4" style="width:150px;">Order Date</th>                            
  <th id="th5" style="width:200px;">Ordered By</th>                          
  <th id="th5" style="width:130px;">Reported Date</th>                          
  <th id="th5" style="width:200px;">Updated By</th>                          
  <th id="th5" style="width:170px;">Date Updated</th>                          
  <th id="th5" style="width:40px;">Attribute</th>                          
  <th id="th5" style="width:200px;">&nbsp;</th>                          
</tr>                                                                         
</thead>                                                                      
</table>


<script>                                                                        
  dataT();                   
</script>  
